{% extends "base.html" %}

{% block content %}
    <h1>Booking of room: {{ room.name }} </h1>

    <div class="content-section">
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
        <legend>{{ legend }}</legend>
            <p>
                {{ form.meeting_title.label }}<br>
                {{ form.meeting_title() }}
                {% for error in form.meeting_title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
            {{ form.meeting_date.label }}<br>
            {{ form.meeting_date() }}
            {% for error in form.meeting_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description }}
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit(class='btn btn-outline-info') }}</p>
        </fieldset>
    </form>
    </div>

{% endblock %}