{% block app_content %}

<div>
    <a href="{{ url_for ('rooms.create_room') }}" type="button" class="btn btn-primary" methods="post" >Update</a>
    <a href="{{ url_for ('rooms.delete_room', room_id=room.id) }}" class="btn btn-warning" type="button" >Delete</a>
    <a href="{{ url_for ('rooms.list_rooms') }}" class="btn btn-info" type="button" >See all</a>
</div>
<div>
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item">Name - {{ room.name }}</li>
        <li class="list-group-item">Capacity - {{ room.seats }}
        </li>
        <li class="list-group-item">Projector -
            {{ projector }}
        </li>
        <li class="list-group-item">Air condition -
            {{ air_condition }}</li>
          <li class="list-group-item">Whiteboard -
            {{ whiteboard  }}</li>
      </ul>
    </div>
</div>


    <div>
        <a href="{{ url_for ('booking.make_booking', room_id=room.id) }}" type="button" class="btn btn-info btn-lg btn-block">Make Reservation</a>
    </div>

{% endblock %}