{% extends "base.html" %}

{% block title %}Forbidden{% endblock %}
{% block content %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div style="text-align: center">
            <h1> 500 Error </h1>
            <h3> {{ _(An unexpected error has occured!) }} </h3>
            <hr class="intro-divider">
            <button type="button" class="btn btn-outline-primary btn-lg">
                <a href="{{ url_for('main.home') }}">
                    <i class="fa fa-home">{{_('Home') }}</i>
                </a>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}